{
    "AWS": {
        "accessKeyId": "XXX",
        "secretAccessKey": "XXX",
        "region": "XXX",
        "bucket": "XXX",
        "ACL": "XXX"
    },
    "defaultFolder": "node-rekognition-folder/"
}