{
    "AWS": {
        "accessKeyId": "XXX",
        "secretAccessKey": "XXX",
        "region": "XXX",
        "bucket": "XXX",
        "ACL": "XXX"
    },
    "defaultFolder": "rekognition-node-folder/"
}
